@import 'reset';

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: #f8f8ff;
}

.nav-content {
    display: flex;
    height: 100px;
    background: #6761A8;

    img {
        margin: 2%;
    }
}

nav {
    display: flex;
    width: 45%;
    

    a {
        padding: 25px;
        justify-content: flex-end;
        align-items: center;
    }
}

.img-container {
    img {
        background-repeat: no-repeat;
        max-height: 300px;
        width: 100%;
        background-position: center;
        background-attachment: fixed;
        // background-size:cover;
        box-shadow: inset 3px 1px 15px rgba(0, 0, 0, .50);
    }
}